.dnd-container {
  padding: 10px;
  border: 1px solid;
  box-sizing: border-box;
}

.dnd-source {
  width: 120px;
  height: 120px;
  margin: 5px;
  border: 1px dashed;
}

.dnd-source--draggable {
  opacity: 1;
}

.dnd-source--disabled {
  background-color: rgba(0, 0, 0, 0.1);
}

.dnd-source--dragging {
  opacity: 0.4;
}

.dnd-dropzone {
  width: 120px;
  height: 120px;
  margin: 5px;
  border: 1px dashed;
}

.dnd-dropzone--over {
  background-color: greenyellow;
}

.dnd-dropzone--droppable {
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
}

.dnd-dropzone--disabled {
  background-color: rgba(0, 0, 0, 0.1);
}

.dnd-handle {
  padding: 4px 8px;
  background-color: rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}
